.collatz__reportDecision {
    border: 1px solid white;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2.5rem;
    margin: 1rem 6rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
    margin-bottom: 100px;
}

.collatz__reportDecision-content p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #0E0E0E;

}

.collatz__reportDecision-content h3 {
    font-family: var(--font-family);
    font-weight: 1000;
    font-size: 27px;
    line-height: 45px;
    color: #0E0E0E;
}

.collatz__reportDecision-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    background: transparent;
}

.collatz__reportDecision-btn button{
    margin: 0rem 3rem;
    border: none;
    background: transparent;
    color: black;
    cursor: pointer;
}

.collatz__reportDecision-btn button:hover{
    transform: scale(0.9);
}