.WhatCollatz {
    margin: 0;
    height: 100%;
    weight: 100%;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

p {
    font-family:  var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

h1 {
    font-family:  var(--font-family);
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.04em;
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
}

.collatz__about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collatz__about-image img {
    width: 50%;
    height: 50%;
}