.collatz__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.collatz__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 160px;
    margin: 0rem 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}