.collatz__report {
    display: flex;
    flex-direction: column;
}

.collatz__report-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.collatz__report-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing:  -0.04em;
}

.collatz__report-container {
    display: flex;
    flex-direction: row;
}

.collatz__report-container_1 {
    flex: 0.75;
    margin-right: 2rem;
}

.collatz__report-container_2 {
    flex: 1;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .collatz__report-container{
        flex-direction: column;
    }

    .collatz__report-container_1 {
        margin: 2rem 0;
    }

    .collatz__report-container_ .collatz__article-container_article {
        width: 48%;
    }

    .collatz__report-container_.collatz__article-container_article-img {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .collatz__report-container_2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .collatz__report-container_ .collatz__article-container_article {
        width: 100%;
    }

    .collatz__report-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}